@import url('https://fonts.cdnfonts.com/css/serbie');

.navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;
    background-color: rgb(28, 26, 26);
    justify-content: space-between;
    align-items: self-end;
}

.logo{
    font-family: 'Serbie', sans-serif;
    font-size: 30px;
    color: white;
}

.navLeft{
    display: flex;
}
.navRight{
    display: flex;
    justify-self: center;
    gap: 2rem;
}

.languageSelector {
    padding: 8px 12px;
    background-color: rgb(11, 11, 11);
    border: none;
    border-radius: 4px;
    font-family: 'Narnoor', sans-serif;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .languageSelector option {
    padding: 8px 12px;
    background-color: #fff;
    border: none;
    font-family: 'Narnoor', sans-serif;
    font-size: 18px;
    color: #333;
  }
  
  .languageSelector:hover {
    border-color: #888;
  }
  
  .languageSelector:focus {
    border-color: #555;
  }